* {
    margin: 0px;
    padding: 0px;
}

.head-part-container {
    position: relative;
    text-align: right;
}

.head-img {
    width: 100%;
}

.intro-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* padding: 500px 200px; */
    margin: 200px;
    padding: 80px 20px;

}

.primary-heading-size {
    font-weight: bold;
    font-size: 80px;
    padding-bottom: 20px;
}

.text-area {
    font-size: 20px;
    padding-bottom: 20px;
}

.primary-btn {
    font-size: 25px;
    padding: 20px;
    background-color: rgb(238, 103, 54);
    color: white;
    border: none;
    border-radius: 10px;
}

.reasons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;

}

.left-side {
    margin-left: 300px;
}

.right-side {
    text-align: left;
    line-height: 1.5;
    margin-right: 300px;
}

.mid-heading {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.random-text {
    padding: 15px;
    font-size: 20px;
}

.random-list {
    padding-left: 15px;
    font-size: 20px;
}